.intro__lists {
    color: #fff;
    list-style: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    padding: 0;
    margin: 33px 0 0;
}

@media screen and (max-width: 719px) {
    .intro__lists {
        margin: 34px 0 0;
    }
}