.header__logo {   
    max-width: 176px;
    max-height: 52px;
}

@media screen and (max-width: 719px) {
    .header__logo {
        max-width: 142px;
    }
}

@media screen and (min-width: 719px) and (max-width: 1000px) {
    .header__logo {
        max-width: 176px;
    }
}
