.footer {
    margin: 92px 48px 24px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 719px) {
    .footer {
        margin: 64px 16px 0;
        flex-direction: column;
    }
}

@media screen and (min-width: 719px) and (max-width: 1000px) {
    .footer {
        margin: 88px 24px 24px;
    }
}